.ui.image.product-icon{
    width: auto;
    height: 60px;
    border-radius: 10%;
}

.grid-table{
    height: 120px;
}
.upload{
   border: none;
   background: none;
   color: brown;
   cursor: pointer;
}
.icon.iconUpload{
   font-size: 20px;
}

input[type=file] {
    display: none;
}
.productId{
    font-family: "Libre Baskerville", serif;
}

.ui.button.buyBtn{
    margin-bottom: 30px;
}
.price{
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: brown;
}
.orderDate{
    font-size: 8px;
}
.tooltip{
  opacity: 0.7;
}


  @media screen and (max-width: 768px) {
    .ui.image.product-icon{
        width: auto;
        height: auto;
        border-radius: 10%;
    }
  }

  @media screen and (max-width: 320px) {
    .ui.image.product-icon{
        width: auto;
        height: auto;
        border-radius: 10%;
    }
  }